<header id="top-bar" class="dark-header">
    <div class="top-bar-info">
        <div class="container">
            <div class="top-bar-social fl-left">
                <ul>
                    <li><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-bar-menu-wrap">
        <div class="container">
            <span class="menubutton"></span>
            <nav class="top-bar-menu">
                <ul class="menu">
                    <li>
                        <a href="index.html"></a>
                    </li>
                </ul>
            </nav>
            <!-- search widget end -->
            <div class="menubutton">

            </div>
        </div>
    </div>
    <!-- container  end  -->
</header>
