{% if is_paginated %}
<div class="page_nav main-page-nav">
    <a href="{{request.path}}?page=1{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="arrow-nav lef-ar-nav"><i class="fa fa-caret-left" aria-hidden="true"></i><strong> 1</strong></a>
    <ul>
        {% for i in paginator.page_range %}
            {% if forloop.counter|add:5 > page_obj.number and forloop.counter < page_obj.number|add:5%}
            <li><a href="{{request.path}}?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor%}
    </ul>
    <a href="{{request.path}}?page={{paginator.num_pages}}{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="arrow-nav rig-ar-nav"><i class="fa fa-caret-right" aria-hidden="true"></i><strong>Last</strong></a>
</div>
{% endif %}